In [223]:
# Import the library

import pandas as pd
import numpy as np

In [224]:
# Read the file 

cr = pd.read_csv(r"C:\Users\Fahim\Desktop\NAIM\pranjal\CreditRisk.csv")

In [225]:
# Check the shape.

cr.shape

(981, 13)

In [226]:
# Check the first 5 records  

cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [227]:
# Check the nulls 

cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

# Data handling

In [228]:
# Removing Nulls

In [229]:
cr.Gender.value_counts()
cr.Gender = cr.Gender.fillna("Male")

In [230]:
cr.Married.value_counts()
cr.Married = cr.Married.fillna("Yes")

In [231]:
cr.Dependents.value_counts()
cr.Dependents = cr.Dependents.fillna(0)

In [232]:
cr.Self_Employed.value_counts()
cr.Self_Employed = cr.Self_Employed.fillna("No")

In [233]:
cr.LoanAmount.value_counts()
cr.LoanAmount = cr.LoanAmount.fillna(cr.LoanAmount.mean())

In [234]:
cr.Loan_Amount_Term.value_counts()
cr.Loan_Amount_Term = cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.mean())

In [235]:
cr.Credit_History.value_counts()
cr.Credit_History = cr.Credit_History.fillna(1)

In [236]:
cr.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [237]:
# Droping Loan ID column which is not necessary.

cr = cr.iloc[: , 1:13]

In [238]:
# Converting categorical data into numeric form using Label Encoder

In [239]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [240]:
cr[cr.select_dtypes(include=['object']).columns] = cr[cr.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [241]:
cr.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0.0,0,0,5849,0.0,142.51153,360.0,1.0,2,1
1,1,1,1.0,0,0,4583,1508.0,128.00000,360.0,1.0,0,0
2,1,1,0.0,0,1,3000,0.0,66.00000,360.0,1.0,2,1
3,1,1,0.0,1,0,2583,2358.0,120.00000,360.0,1.0,2,1
4,1,0,0.0,0,0,6000,0.0,141.00000,360.0,1.0,2,1

In [242]:
# Drive data into x and y

In [243]:
cr.x = cr.iloc[: , 0:11]
cr.y = cr.iloc[: , -1]

<ipython-input-243-054d373d1192>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cr.x = cr.iloc[: , 0:11]
<ipython-input-243-054d373d1192>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cr.y = cr.iloc[: , -1]

In [244]:
# Create a backup for further use.

cr.x_backup = cr.x

<ipython-input-244-b138fd037868>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cr.x_backup = cr.x

In [245]:
# Convert the data frame into array form to apply the Boruta

cr.x = np.array(cr.x)
cr.y = np.array(cr.y)

In [246]:
# Run the RandomForest Function

In [247]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [248]:
#! pip install boruta

In [249]:
# Library Boruta 

from boruta import BorutaPy

In [250]:
# Apply Boruta function 

boruta_feature_selector = BorutaPy(rfc , max_iter=25 , verbose= 2)

In [251]:
boruta_feature_selector

BorutaPy(estimator=RandomForestClassifier(), max_iter=25, verbose=2)

In [252]:
boruta_feature_selector.fit(cr.x , cr.y)

Iteration: 	1 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	2 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	3 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	4 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	5 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	6 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	7 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	8 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	9 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	10 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	11 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	12 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	13 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	14 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	15 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	16 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	17 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	18 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	19 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	20 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	21 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	22 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	23 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	24 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8


BorutaPy finished running.

Iteration: 	25 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8

BorutaPy(estimator=RandomForestClassifier(n_estimators=1000,
                                          random_state=RandomState(MT19937) at 0x1F38B311440),
         max_iter=25, random_state=RandomState(MT19937) at 0x1F38B311440,
         verbose=2)

In [253]:
# Check out is feature confirmed or rejected by applying 'support' function

boruta_feature_selector.support_

array([False, False, False, False, False,  True, False, False, False,
        True, False])

In [256]:
# Use our backup stored to read column name to create the data frame in next step 

cr.x_backup.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [263]:
# Create data frame using feature and importance.

feature_importance = pd.DataFrame({"feature" : cr.x_backup.columns , "Importance" : boruta_feature_selector.support_})

In [264]:
feature_importance

              feature  Importance
0              Gender       False
1             Married       False
2          Dependents       False
3           Education       False
4       Self_Employed       False
5     ApplicantIncome        True
6   CoapplicantIncome       False
7          LoanAmount       False
8    Loan_Amount_Term       False
9      Credit_History        True
10      Property_Area       False

In [ ]:
# Here we got the result as which feature is confirmed and rejected by using Data frame.